$masterColor: #35363a;

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}
body{
  background-color: $masterColor;
}
.typed-cursor {
  font-size: 38px;
  color: #5d71ae;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  opacity: 1;
  animation: ocultCursor .5s infinite;
}
@keyframes ocultCursor {
  from {opacity: 1;}
  to {opacity: 0;}
}
// .typed-cursor--blink{
//   //display: none;
// }